
@import './base/listas';

/*  */
*{
    padding: 0;
    margin: 0;

    font-family: 'Roboto Condensed', sans-serif;
}
@import './components/fuente';
@import './components/header';
@import './components/footer';
@import './components/sectionindex';
